Importing the required packages

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Redaing the data

In [43]:
df = pd.read_csv("merged_car_data.csv")

In [44]:
df.shape

(539126, 8)

In [45]:
df.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,Buick,EncoreFWD
1,16895,2015,21026,Souderton,PA,KL4CJASB9FB190502,Buick,EncoreFWD
2,15995,2015,20496,McDonough,GA,KL4CJBSB2FB101567,Buick,EncoreConvenience
3,17991,2016,14806,Tucson,AZ,KL4CJASB7GB620898,Buick,EncoreFWD
4,3950,2003,176935,Elkhart,IN,3G5DA03E93S607122,Buick,RendezvousCXL

In [46]:
#creating a sample dataframe 
sample_df = df.sample(n=539126, random_state=42)

In [47]:
sample_df.columns

Index(['Price', 'Year', 'Mileage', 'City', 'State', 'Vin', 'Make', 'Model'], dtype='object')

Dropping all the columns that are not required for the modeling

In [48]:
sample_df.drop(columns=['City','State','Vin','Make'],inplace=True)

In [49]:
counts = df['Model'].value_counts()
df['Model'].nunique()
thersold = 2000
repl = counts[counts >= thersold].index

In [50]:
repl.nunique()   #2579

37

In [51]:
sample_df['Model'].nunique()

2579

Creating a sample_df where all the car models that have sold car's more than 200 are only included

In [52]:
# get the value_counts of the 'car_model' column
car_counts = sample_df['Model'].value_counts()

# create a list of car models to keep (those with value_counts > 100)
keep_cars = car_counts[car_counts > 200].index.tolist()

# replace the names of the car models not in keep_cars with 'unknown'
sample_df['Model'] = sample_df['Model'].apply(lambda x: x if x in keep_cars else 'unknown')

# display the final dataframe
print(sample_df.sample(5))

        Price  Year  Mileage      Model
269951  10505  2016    30186    VersaSV
434509  20995  2014    35541       Town
99784    4500  2000   241515  Silverado
208721  16423  2011   120142      Grand
239306  38900  2015    14003         IS

We got a total of 544 car's model that have sold car more than 200 in the us

In [53]:
sample_df['Model'].nunique()

544

Creating the train_set and test_set

In [54]:
from sklearn.model_selection import train_test_split
x = sample_df[['Year','Mileage','Model']]
y = sample_df['Price']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

Changing the categorical fetures into numerical values using pandas get dummies

In [55]:
encoded_df = pd.get_dummies(sample_df[['Model']])

In [56]:
encoded_df.shape

(539126, 544)

In [57]:
merged_df = pd.concat([sample_df,encoded_df],axis=1)

In [58]:
merged_df.sample(10)

,Price,Year,Mileage,Model,Model_1,Model_15002WD,Model_15004WD,Model_1500Big,Model_1500Laramie,Model_1500Lone,...,Model_Yaris5-Door,Model_Yukon,Model_Yukon2WD,Model_Yukon4WD,Model_YukonAWD,Model_i3Hatchback,Model_tC2dr,Model_tCAutomatic,Model_unknown,Model_xB5dr
508375,9716,2010,121593,Maxima4dr,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503559,17865,2014,45336,Outlander,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395283,26212,2015,37066,Genesis3.8L,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31809,15999,2011,97167,Edge4dr,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
522608,21899,2016,7169,Forester2.5i,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
216528,29000,2013,43397,Wrangler,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
527557,13195,2014,90683,CamryL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
519158,30991,2016,2114,1500Lone,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
119407,12000,2013,61401,unknown,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
444120,11888,2014,69279,FusionSE,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
merged_df.drop(columns=['Model'],inplace=True)

In [60]:
merged_df.iloc[1,:]

Price                35982
Year                  2015
Mileage              35625
Model_1                  0
Model_15002WD            0
                     ...
Model_i3Hatchback        0
Model_tC2dr              0
Model_tCAutomatic        0
Model_unknown            0
Model_xB5dr              0
Name: 28286, Length: 547, dtype: int64

In [61]:
x = merged_df.drop(columns=['Price'])
y = merged_df['Price']

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [23]:
x_test

,Year,Mileage,Model_1,Model_15002WD,Model_15004WD,Model_1500Big,Model_1500Laramie,Model_1500Lone,Model_1500SLT,Model_2,...,Model_Yaris5-Door,Model_Yukon,Model_Yukon2WD,Model_Yukon4WD,Model_YukonAWD,Model_i3Hatchback,Model_tC2dr,Model_tCAutomatic,Model_unknown,Model_xB5dr
518107,2014,50466,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
273195,2015,32000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
375597,2013,96841,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
364762,2014,21295,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
394112,2006,72000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244415,2008,25890,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
358501,2015,27424,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
437562,2016,15722,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26679,2012,103708,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21717,2011,70086,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
y_test

518107    47988
273195    15988
375597    19898
364762    21242
394112     4971
          ...
244415    41999
358501    27889
437562    20999
26679     28999
21717     45599
Name: Price, Length: 107826, dtype: int64

In [25]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((431300, 546), (431300,), (107826, 546), (107826,))

Coverting the price and mileage columns and bringing them into same scale by StandardScaler

In [26]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# fit the scaler to the train set, it will learn the parameters
scaler.fit(x_train)

# transform train and test sets
X_train_scaled = scaler.transform(x_train)
X_test_scaled = scaler.transform(x_test)

In [27]:
X_train_scaled

array([[ 0.83212881, -1.07206954, -0.02886279, ..., -0.02020483,
         2.53225366, -0.02575949],
       [ 0.2724687 , -0.59507057, -0.02886279, ..., -0.02020483,
        -0.39490515, -0.02575949],
       [-0.56702147,  1.44144344, -0.02886279, ..., -0.02020483,
         2.53225366, -0.02575949],
       ...,
       [-0.84685152,  2.24418369, -0.02886279, ..., -0.02020483,
        -0.39490515, -0.02575949],
       [ 0.83212881, -0.86440282, -0.02886279, ..., -0.02020483,
        -0.39490515, -0.02575949],
       [ 0.55229876, -0.35503118, -0.02886279, ..., -0.02020483,
        -0.39490515, -0.02575949]])

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from sklearn.model_selection import cross_val_score

LINEAR REGRESSION MODEL

In [29]:
# Create linear regression model
lr_model = LinearRegression()

# Train model on training set
lr_model.fit(X_train_scaled, y_train)

# Make predictions on test set
y_pred = lr_model.predict(X_test_scaled)

# Calculate root mean squared error on test set
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
print("R2:",r2)
print("Mae:",mae)
print("Mse:",mse)
print("RMSE:", rmse)

R2: 0.5368712928740347
Mae: 4131.940411928735
Mse: 86253573.62983131
RMSE: 9287.280206273057

RANDOM FOREST REGRESSOR MODEL

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, median_absolute_error

# Create random forest model
rf_model = RandomForestRegressor(n_estimators=1, random_state=42)

# Train model on training set
rf_model.fit(X_train_scaled, y_train)

# Make predictions on test set
y_pred = rf_model.predict(X_test_scaled)

# Calculate R2, MSE, MAE, and MedAE on test set
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
medae = median_absolute_error(y_test, y_pred)

print("R2:", r2)
print("MAE:", mae)
print("MSE:", mse)
print("MedAE:", medae)

R2: 0.2672662832230652
MAE: 4609.713614692813
MSE: 136465091.92506054
MedAE: 2199.0

In [ ]:
from sklearn.linear_model import Ridge

# Create ridge regression model
ridge_model = Ridge(alpha=1.0)

# Train model on training set
ridge_model.fit(X_train_scaled, y_train)

# Make predictions on test set
y_pred = ridge_model.predict(X_test_scaled)

# Calculate R2 and MSE on test set
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print("R2:", r2)
print("MAE:", mae)
print("MSE:", mse)

R2: 0.5368609812207965
MAE: 4609.713614692813
MSE: 86255494.08288924

Creating a dataframe to store the predicted values

In [ ]:
# Create a DataFrame to store the accuracy scores
df_scores = pd.DataFrame({'Model': ['Linear Regression', 'Ridge Regression', 'Random Forest'],
                          'R2':[0.29913302194353664, 0.12978522204812015, 0.29911531692534155],
                         "MAE":[ 4131.940411928735, 4609.713614692813, 4609.713614692813],
                         "MSE":[129360777.82491863,160617726.43756232, 129364045.68457934],
                   })

In [ ]:
df_scores

               Model        R2          MAE           MSE
0  Linear Regression  0.299133  4131.940412  1.293608e+08
1   Ridge Regression  0.129785  4609.713615  1.606177e+08
2      Random Forest  0.299115  4609.713615  1.293640e+08

##Deep Learning Model 
>creating a simple ANN MODEL to predict the output

In [ ]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
tf.random.set_seed(42)

insurance_model_3 = tf.keras.Sequential([
    tf.keras.layers.Dense(100,activation="relu"),
    tf.keras.layers.Dense(10,activation="relu"),
    tf.keras.layers.Dense(1)
])

insurance_model_3.compile(loss = tf.keras.losses.MAE,optimizer=tf.keras.optimizers.Adam(lr=0.1),metrics=['mae'])

history = insurance_model_3.fit(X_train_scaled,y_train,epochs=15)

WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

Epoch 1/15
13479/13479 [==============================] - 49s 3ms/step - loss: 5013.3799 - mae: 5013.3799
Epoch 2/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3504.3315 - mae: 3504.3315
Epoch 3/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3426.8398 - mae: 3426.8398
Epoch 4/15
13479/13479 [==============================] - 42s 3ms/step - loss: 3403.4585 - mae: 3403.4585
Epoch 5/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3389.6147 - mae: 3389.6147
Epoch 6/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3378.7896 - mae: 3378.7896
Epoch 7/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3371.5522 - mae: 3371.5522
Epoch 8/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3364.2078 - mae: 3364.2078
Epoch 9/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3358.4048 - mae: 3358.4048
Epoch 10/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3352.6248 - mae: 3352.6248
Epoch 11/15
13479/13479 [==============================] - 44s 3ms/step - loss: 3348.0940 - mae: 3348.0940
Epoch 12/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3342.8337 - mae: 3342.8337
Epoch 13/15
13479/13479 [==============================] - 44s 3ms/step - loss: 3339.8687 - mae: 3339.8687
Epoch 14/15
13479/13479 [==============================] - 43s 3ms/step - loss: 3334.8804 - mae: 3334.8804
Epoch 15/15
13479/13479 [==============================] - 44s 3ms/step - loss: 3332.3337 - mae: 3332.3337

Evaluate the prediction on the test data

In [ ]:
# Evaulate 3rd model
model_loss, model_mae = insurance_model_3.evaluate(X_test_scaled, y_test)

3370/3370 [==============================] - 9s 3ms/step - loss: 3328.9033 - mae: 3328.9033

In [75]:
import pandas as pd
import joblib

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Define the column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), [1,3]),
        # ('cat', OneHotEncoder(), ['Model'])
    ])

# Create the pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', lr_model)])

# Split the data into features and target
X = merged_df.drop(columns=['Price'], axis=1)
y = merged_df['Price']

# Fit the pipeline
pipeline.fit(X, y)

# Make a prediction
# new_data = pd.DataFrame({'Price':[20500],'Year':[2013],'Mileage':[8726]})
# prediction = pipeline.predict(new_data)

# print(prediction)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  [1, 3])])),
                ('model', LinearRegression())])

In [32]:
columns = list[merged_df.columns]

In [33]:
columns

list[Index(['Price', 'Year', 'Mileage', 'Model_1', 'Model_15002WD', 'Model_15004WD',
       'Model_1500Big', 'Model_1500Laramie', 'Model_1500Lone', 'Model_1500SLT',
       ...
       'Model_Yaris5-Door', 'Model_Yukon', 'Model_Yukon2WD', 'Model_Yukon4WD',
       'Model_YukonAWD', 'Model_i3Hatchback', 'Model_tC2dr',
       'Model_tCAutomatic', 'Model_unknown', 'Model_xB5dr'],
      dtype='object', length=547)]